@import "../node_modules/normalize.css/normalize.css",
        "./styles/variables",
        "./containers/containers",
        "./components/components";

body {
  width       : 100vw;
  height      : 100vh;
  margin      : 0;
  color       : #4A4A4A;
  font-family : 'Avenir',
                'Helvetica Neue',
                'Helvetica',
                sans-serif;
}

#root {
  width       : 100vw;
  height      : 100vh;
}

.page-container {
  display   : flex;
  width     : 100%;
  height    : 100%;
  overflow  : hidden;
  flex-flow : column nowrap;
}

.fade-in {
  animation : .3s ease FADE_IN;
}

@keyframes FADE_IN {
  from {
    opacity : 0;
  }

  to {
    opacity : 1;
  }
}
