.heading,
.info,
.login {
  display         : flex;
  padding         : 15px;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

.heading {
  font-size : 30px;
}

.info {
  line-height : 25px;
}

.google-btn {
  display       : inline-block;
  width         : 190px;
  color         : #444;
  border        : thin solid #888;
  border-radius : 5px;
  background    : white;
  box-shadow    : 1px 1px 1px grey;
  white-space   : nowrap;

  .icon {
    display        : inline-block;
    width          : 42px;
    height         : 42px;
    background     : url('./g-normal.png') transparent 5px 50% no-repeat;
    vertical-align : middle;
  }

  .buttonText {
    display        : inline-block;
    padding-right  : 42px;
    padding-left   : 42px;
    vertical-align : middle;
    font-family    : 'Roboto',
                     sans-serif;
    font-size      : 14px;
    font-weight    : bold;
    /* Use the Roboto font that is loaded in the <head> */
  }

  &:hover {
    cursor : pointer;
  }
}
