@import "./NavItem/navitem";

.navbar {
  display     : flex;
  align-self  : stretch;
  flex-shrink : 0;

  .nav {
    display : flex;
    flex    : 1;
  }
  
  .brand,
  .link,
  .logout-btn {
    padding         : 15px;
    color           : inherit;
    border          : none;
    background      : none;
    outline         : none;
    text-decoration : none;
    cursor          : pointer;

    &:focus {
      color : #3186e4;
    }
  }
}
