.connect {
  display         : flex;
  flex: 1;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;

  .connect-img-btn {
    border-radius : 5px;
    outline       : none;

    &:focus {
      box-shadow : 0 0 6px 2px $blue;
    }
  }
}
